on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    mount tracefs tracefs /sys/kernel/tracing
    chmod 0755 /sys/kernel/tracing
    loglevel 6
    setprop sys.init_log_level 6
    write /proc/sys/kernel/printk 7

on init
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on early-fs
    start vold

on fs
    mount_all /vendor/etc/fstab.${ro.boot.hardware} --early

on late-fs
    mount_all /vendor/etc/fstab.${ro.boot.hardware} --late
