on early-init
    # Debugging
    # loglevel 7
    # setprop sys.init_log_level 7
    write /proc/sys/kernel/printk 7

on init
    # For USB
    setprop sys.usb.configfs 1
    # For correctly mounting partitions
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    #qseecomd
    wait /dev/qseecom
    start vendor.qseecomd

on fs
    # Mount partitions early (UDC)
    mount_all /vendor/etc/fstab.qcom --early

on late-fs
    # Wait for keymaster (encrypt/decrypt) and then mount late (userdata is latemount)
    exec_start wait_for_keymaster
    mount_all /vendor/etc/fstab.qcom --late

on early-fs
    # vold is needed for init_user0 initial encryption and decryption 
    start vold

# From stock for USB
on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    write /sys/class/udc/${ro.boot.usbcontroller}/device/../mode peripheral

service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root
    seclabel u:r:recovery:s0
